.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, 
#lezioni .row > .right{
  width: 50%;
  float: left;
}
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}
#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}
#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}
#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

.container.grey{
  background-color: #f9f9f9;
}
img{
  height: 200px;
}
.clear {
  clear:both;
}

/*PARTE RESPONSIVE*/

/* RESPONSIVE A 780PX */

@media screen and (max-width: 780px) {
  *{
    transition: 0.5s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .row{
    margin:  0;
    width: 100%;
    text-align: center;
  }
  .container{
    margin: 5% 0;
  }
  .container.grey{
    background-color: teal;
  }

  h1{
    margin: 5% 0;
  }

  /* BLOCCO LEZ */
  #lezioni .row > .left, 
  #lezioni .row > .right{
    margin: 5% 2%;
    width: 46%;
  }

  /* BLOCCO STEPS */
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
    float: none;
    width: 100%;
    margin-top: 5%;
  }

  /* BLOCCO PERCHE */
  #why hr{
    margin: 8% 0;
    color: white;
   }
 
   #why .row > .first,
   #why .row > .second,
   #why .row > .third{
    margin: 5% 0;
   }

}


/* RESPONSIVE A 420 PX */

@media screen and (max-width: 420px){
  *{
    transition: 0.5s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .clear{
    clear: none;
  }
  .container{
    margin: 5% 0;
  }

  .container.grey{
    background-color: wheat;
  }
  .row{
    margin:  0;
    width: 100%;
    text-align: center;
  }

  h1{
    margin: 5% 0;
  }

  /* BLOCCO LEZIONI */
  #lezioni .row > .left, 
  #lezioni .row > .right{
    width: 100%;
    float: none;
    text-align: center;
    padding: 5% 0;
  }
  #lezioni .row img{
    margin: auto;
  }

  /* BLOCCO STEPS */
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
    float: none;
    width: 100%;
    margin-top: 5%;
  }

  /* BLOCCO PERCHE */
  #why hr{
   margin: 8% 0
  }

  #why .row > .first,
  #why .row > .second,
  #why .row > .third{
   margin: 5% 0;
  }
}


